

@media screen and (min-width:750px){

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items:center;


}

.info , .forms{
  width: 90%;
  height: 500px;
}


}
